aiogram==3.4.1
aiohttp==3.9.4
motor==3.4.0
python-telegram-bot
python-dotenv
pydantic_settings
pytubefix
youtube-dl
boto3
aioredis
moviepy
ffmpeg
watchfiles==0.22.0
beautifulsoup4==4.12.3
lxml
fake-useragent
m3u8
pyktok==0.0.27
browser-cookie3==0.19.1
pandas==2.2.2
streamlit
TikTokApi